{% extends 'base.html' %}

{% block content %}
<h1 class="head1">My Five Favorite Athletes</h1>
<h2 class="head2">Virgil Van Dijk</h2>
<p class="desc">Van Dijk is one of the best athletes in the world today. Tall, strong, and quick, he is everything you want in a center-back. He is also a commanding voice, an organizer of the defense, and a leader for the team.</p>
<h2 class="head2">Jaylen Brown</h2>
<p class="desc">Jaylen Brown's path in the NBA has been anything but easy. Drafted by a great team, forced to adjust for the offense, and then forced to take a back seat after a great second year, Brown has endured much. Yet he's still shown his talent, as he has truly come alive as a star this season.</p>
<h2 class="head2">Tom Brady</h2>
<p class="desc">The greatest quarterback of all time. Six rings, three MVPs, four Super Bowl MVPs. Need I say more?</p>
<h2 class="head2">Naby Keita</h2>
<p class="desc">Keita has had an unlucky start to his Liverpool career, with injuries constantly throwing off his rhythm. The tail end of this season, though, he came into his own, and looks primed for a big 2020-21.</p>
<h2 class="head2">Jayson Tatum</h2>
<p class="desc">The other half of the Celtics core, Tatum is a certified baller. He can make any shot on the court, and is liable to take over a game with his elite shot-making.</p>
<br>
<br>
<a href="{{ url_for('home_page') }}">Click here to go home.</a>
{% endblock content %}